.responsive-table > div {
	padding: 2px 0px;
}

.responsive-table > div > div {
	/* padding: 0px; */
}

hr {
	margin: 0;
}
.current_h{
	background-color: red;
}
.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group {
  margin-bottom: 20px;
}

.minute {
   /* display: block; */
    
   /* height: 1.6em; */
    
   /* width: 1.6em; */
    
   line-height: 1.6em;

    -moz-border-radius: 1em;
    
   /* border-radius: 1em; */

    background-color: #777799;
    color: white;
    text-align: center;
    
   font-size: 1.1em;	
    margin: 0.1em;
   padding: 0.4em;
   vertical-align: middle;
}

.hour {
   /* display: block; */
    
   /* height: 1.6em; */
    
   /* width: 1.6em; */
    
   /* line-height: 1.6em; */

    -moz-border-radius: 1em;
    
   /* border-radius: 1em; */

    background-color: #777777;
    color: white;
    text-align: center;    
   	
   font-size: 2em;	
    
   /* margin: 0.1em; */
   padding: 6px;
}

a,a:hover, a:focus{
	text-decoration: none;
	color: #fff;
}

a.time-button{
	text-decoration: none;
	color: #fff;
}

a.time-button:hover{
	font-weight: bold;
}

.label{
	font-size: 1em;
}
.container.content{
	/*width: 750px;*/
}

.navbar.navbar-default{
	margin-bottom: 0;
}
/*
.minute-color-1-1 {
	background-color: #16a085;
}
.minute-color-1-2 {
	background-color: #16a085;
}
.minute-color-1-3 {
	background-color: #1abc9c;
}
.minute-color-1-4 {
	background-color: #2ecc71;
}
.minute-color-1-5 {
	background-color: #8cbf26;
}
.minute-color-1-6 {
	background-color: #f1c40f;
}
*/
.minute-color-1-1 {
	background-color: #f39c12;
}
.minute-color-1-2 {
	background-color: #e67e22;
}
.minute-color-1-3 {
	background-color: #d35400;
}
.minute-color-1-4 {
	background-color: #e74c3c;
}
.minute-color-1-5 {
	background-color: #c0392b;
}
.minute-color-2-1 {
	background-color: #BEBEBE;
}
.minute-color-2-2 {
	background-color: #B2B2B2;
}
.minute-color-2-3 {
	background-color: #9E9E9E;
}
.minute-color-2-4 {
	background-color: #909090;
}
.minute-color-2-5 {
	background-color: #888888;
}
.nav>li {
  float: right;
}