<div class="wideColumn start">
      <h1>Patronage API</h1>
	  <br>
      <h3>What You Need To Do</h3>
      <p>Eee.. Nothing. Absolutely NOTHING.</p>
	  <p>You can directly make HTTP requests to the &nbsp;&nbsp;<span style="font-style: italic">"api/reports"</span>&nbsp;&nbsp;
	  endpoints and get back a JSON response.</p>

     

      <pre>http://patronage.cloudapp.net/api/report</pre>
<br>
      <h3>Things You Should Know:</h3>
      
      <h1 style="text-align:center;text-transform:uppercase;">Keep calm </h1>
	  <h1 style="text-align:center;text-transform:uppercase;">and</h1>
	  <h1 style="text-align:center;text-transform:uppercase;"> open data</h1>
   
    </div>