<div class="wideColumn start">
<style>
.calm{
	text-align:center;
	text-transform:uppercase;
}
.wrap{
	margin:0 auto;
	background-color:#2E8BCC;
	width:250px;
	padding: 15px;
	color: #fff;
	
}
</style>
      <h1>Patronage API</h1>
	  <br>
      <h3>What You Need To Do</h3>
      <p>Eee.. Nothing. Absolutely NOTHING.</p>
	  <p>You can directly make HTTP requests to the &nbsp;&nbsp;<span style="font-style: italic">"api/reports"</span>&nbsp;&nbsp;
	  endpoints and get back a JSON response.</p>

     

      <pre>http://patronage.cloudapp.net/api/report</pre>
<br>
      <h3>Things You Should Know:</h3>
      <div class="wrap">
		  <h1 class="calm">Keep calm </h1>
		  <h1 class="calm">and</h1>
		  <h1 class="calm"> open data</h1>
	  </div>
   
    </div>