<h3>Select your palette</h3>
<label class="control radio">
<input type="radio" ng-model="pallete" name="paletteSelect" value="1">
<span class="radio-label"> 
<span class="minute-color-1-1 minute">1</span>
<span class="minute-color-1-2 minute">2</span>
<span class="minute-color-1-3 minute">3</span>
<span class="minute-color-1-4 minute">4</span>
<span class="minute-color-1-5 minute">5</span>
</span>
</label>

<br>

<label class="control radio">
<input type="radio" ng-model="pallete" name="paletteSelect" value="2">
<span class="radio-label"> 
<span class="minute-color-2-1 minute">1</span>
<span class="minute-color-2-2 minute">2</span>
<span class="minute-color-2-3 minute">3</span>
<span class="minute-color-2-4 minute">4</span>
<span class="minute-color-2-5 minute">5</span>
</span>
</label>