<div style="display:inline-block; margin: auto;">
<style>
.thumbnail i{
	margin-top:0.1em;
}
</style>
<div class="thumbnail tile-medium tile tile-lime">
	<a ng-href="#/report_route/1" style="padding-top: 2em">
		<i class="fa fa-child" style="font-size: 6em"></i>
		<h2 style="margin-top: 0.2em;">Homeless</h2>
	</a>
</div>
<div class="thumbnail tile-medium tile tile-orange">
	<a ng-href="#/report_route/2" style="padding-top: 2em">
		<i class="fa fa-users" style="font-size: 6em"></i>
		<h2 style="margin-top: 0.2em;">Crowd</h2>
	</a>
</div>
<div class="thumbnail tile-medium tile tile-alizarin">
	<a ng-href="#/report_route/3" style="padding-top: 2em">
		<i class="fa fa-ticket" style="font-size: 6em"></i>
		<h2 style="margin-top: 0.2em;">Rabbit</h2>
	</a>
</div>
<div class="thumbnail tile-medium tile tile-wisteria">
	<a ng-href="#/report_route/4" style="padding-top: 2em">
		<i class="fa fa-trash-o" style="font-size: 6em"></i>
		<h2 style="margin-top: 0.2em;">Dirty</h2>
	</a>
</div>
</div>