<script>
//	var minutes = document.getElementById('minute');
	
</script>

<ul class="pagination">
  <li><a href="#/">Transport type</a></li>
  <li><a href="#/transport/{{ gType }}">Number</a></li>
  <li><a href="#/stops/{{ gTransportId }}">Stop</a></li>
  <li class="active"><a href="javascript:void(0);">Time <span class="sr-only">(current)</span></a></li>
</ul>
<div class="responsive-table container-fluid">
	<div class="row-fluid" ng-repeat="h in height">
<!--
		<div class="pull-left hour">{{ h > 9 ? h : '0' + h }}</div>
		<div class="pull-left minute {{getColor(time.statistics.raiting)}}" ng-repeat="time in times[h]">
			<a class="time-button" ng-href="#/stops/{{time.route.transport.id}}/{{ time.reiss_id }}" >{{ time.time | date : "mm" }}</a>
		</div>
-->
		<div class="pull-left hour" ng:class="{true:'current_h', false:''}[getHours()==h]">{{ h > 9 ? h : '0' + h }}</div>
		<div class="pull-left minute {{getColor(time.statistics.raiting)}}" ng-repeat="time in times[h]">
			<a class="time-button" ng-href="#/stops/{{time.route.transport.id}}/{{ time.reiss_id }}" >{{ time.time | dateformat : "mm" }}</a>
		</div>
		<div style="clear:both"></div>
		<hr>
	</div>
	<div style="clear:both"></div>
</div>